@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins.scss" as *;

.artworks-page {
  &__heading {
    margin: 100px 40px 20px 40px;
  }
  @include from(md) {
    &__heading {
      margin-top: 120px;
    }
  }
  @include from(lg) {
    &__heading {
      margin-top: 60px;
    }
  }
}
