@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 20px 50px 20px;
  gap: 10px;

  &__icon {
    margin-bottom: 30px;
  }

  h1 {
    background: $grad-accent;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h2 {
    font-weight: 500;
    font-style: italic;
    color: $white;
  }

  p {
    color: $gray-50;
  }

  @include from(lg) {
    width: 400px;
  }
}
