@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins.scss" as *;

.about-page {
  &__pillars {
    @include glass-effect();
    border-radius: 20px;
    padding: 60px 0;
    margin: 0 40px;
    justify-self: center;
  }

  &__first-section {
    margin-top: 100px;
  }

  @include from(sm) {
    &__second-section,
    &__third-section {
      .image {
        width: 350px;
      }
    }
  }

  @include from(md) {
    &__first-section {
      margin-top: 120px;
    }
  }

  @include from(lg) {
    &__pillars {
      display: flex;
      justify-content: center;
      flex-direction: row;
      margin-top: 20px;
      justify-self: center;
      width: 80%;
      max-width: 100%;
      gap: 20px;
      border-radius: 40px;
      background: none;
      border: none;

      &:hover {
        background: none;
        border: none;
      }

      & > :nth-child(2) {
        margin-top: 100px;
      }
    }

    &__first-section {
      justify-self: center;
      width: 60%;
    }

    &__second-section,
    &__third-section {
      justify-self: center;
      width: 80%;
      margin-top: -150px;
      .image {
        width: 50%;
        max-width: 600px;
      }
    }
  }
}
