@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.heading {
  display: flex;
  flex-direction: column-reverse;
  gap: 0px;
  margin: 40px 20px;

  i {
    color: $gold-100;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  &__img {
    margin-top: 0px;
  }

  &--center {
    align-items: center;
    text-align: center;
  }

  &--left {
    align-items: left;
    text-align: left;
    .heading__content {
      align-items: flex-start;
    }
  }

  @include from(md) {
    h1 {
      font-size: 42px;
    }
  }

  @include from(lg) {
    h1 {
      font-size: 52px;
    }

    &--with-img {
      padding: 0;
      margin: 20px 0;
      flex-direction: row;
    }

    &--right {
      flex-direction: row-reverse;
    }

    &__content {
      font-size: 18px;
    }

    &__img {
      padding: 0;
      margin: 0;
      width: 40%;
      height: 100%;
    }
  }
}
