@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: baseline;
  overflow-y: auto;

  &__container {
    background-color: $white;
    border-radius: 20px;
    margin: 10vh 10px;
    overflow-x: hidden;
  }

  &__icons {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    fill: $gray-200;
  }

  &__right-icons {
    display: flex;
    gap: 40px;
  }

  .svg-icon {
    cursor: pointer;
  }

  &--close {
    display: none;
  }

  @include from(md) {
    &__icons {
      justify-content: space-between;
    }

    &__container {
      margin: 10vh;
      width: 70vh;
    }
    &__container {
      &--fullscreen {
        margin: 10px;
        width: 100%;
      }
    }
  }
}
