@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 50px 5px;

  &__img-container {
    padding: 4px;
    cursor: pointer;
  }

  &__img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    &:hover {
      border: 1px solid $gold-100;
      @include glow-effect($gold-100);
    }
  }

  @include from(md) {
    &__img-container {
      padding: 10px;
    }

    &__img {
      border-radius: 20px;
    }
  }

  @include from(lg) {
    grid-template-columns: repeat(4, 1fr);
    &__img {
      width: 100%;
      height: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
  }
}
