@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.home {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: -50px;

  &__panel {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .typography {
      text-shadow: 1 1 16px $black;
    }
  }

  &__hero {
    position: absolute;
    top: 0;
    z-index: -99;
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
  }

  @include from(lg) {
    margin-top: -100px;
    &__panel {
      bottom: 5vh;
      left: 5vw;
      position: absolute;
    }
  }
}
