@use "../../styles/variables.scss" as *;

.form-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 12px 0;

  &__label {
    display: flex;
    gap: 4px;
    margin-left: 10px;
  }

  &--error {
    .input-field,
    .select__label {
      border-color: $error;
    }
  }

  &__error-message {
    color: $error;
    font-size: 12px;
    margin-top: 2px;
    margin-left: 10px;
  }
}
