@use "../../styles/variables.scss";

.image {
  display: flex;
  object-fit: cover;
  justify-self: center;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  backface-visibility: hidden;
  transform: translateZ(0);

  &--sm {
    border-radius: 5px;
  }

  &--md {
    border-radius: 20px;
  }

  &--lg {
    border-radius: 150px;
  }
}
